* {
	margin: 0;
	padding: 0;
}

header {
	overflow: hidden;
}

header h1 {
	margin-bottom: 3px;
}

.navbar {
	background: #cfcfcf;
	position: fixed;
	width: 100%;
	display: inline;
	height: 87px;
}

header, nav {
	display: inline;
}

li {
	display: inline-block;

}
li a:hover {
	background-color: #111;
}

li a{
	display: block;
	color: grey;
	text-align: center;
	padding: 15px 25px;
	text-decoration: none;
}

nav ul {
	top:0;
	float: left;
	display: inline;
	text-align: left;
}

.box h3 {
	margin-top: 150px;
	text-align: center;
	border-bottom: 1px solid black;
	margin-bottom: 50px;
}

h3 {
	margin-top: 20px;
	text-align: center;
	border-bottom: 1px solid black;
}
.main {
	background-color: orange;

}

.container_12 .grid_4 {
	width: 320px;
	margin: 0;
}


.box {
	
	padding: 20px;
	background: grey;
	box-sizing: border-box;
}


footer {
	width: 100%;
	background-color: grey;
	text-align: center;
	bottom: 0;
	height: 118px;
	margin-bottom: 0;


}

footer ul {
	text-decoration: none;
	margin-bottom: 0;
}


.hero {
	background-image: url("../img/clash.jpg");
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}


footer p {
	margin-bottom: 5px;
	font-size:  18px;

}





/*
.img_container {
	width: 100%;
	margin: 0;
	background-color: black;
}

.container_12 {
	color: blue;
}

.grid_8 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;

	background-color: brown;
}

.grid_4 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	background color: black;
	margin-top: 50px;
}
header {
	list-style-type: none;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	background-color: #afafaf;
}

li {
	float: right;

}

header p {
	float: left;
	padding: 10px 16px;
	color: black;
	font-style: italic;
	font-size: 16px;
}

li a{
	display: block;
	color: grey;
	text-align: center;
	padding: 14px 25px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

footer {
	background-color: green;
	overflow: visible;
}

.grid_12{
	display: inline;
	background-color: grey;
}

*/